body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1300px;
  border: 1px solid black;
  padding: 0px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 12px;
  grid-template-rows: 300px; /* This is for the dummy columns, replace or delete */
}



.headerimg {
  border: 3px solid red;
  grid-column: span 10;
  width: 900px;
  margin-left: 175px;
}

.headerimg img {
  width: 100%;
  height: 100%;
}


nav {
  grid-column: span 10;
  border: 0px solid blue;
  margin-bottom: 5px;
}

nav ul {
  display: grid;
  list-style-type: none;
  margin-left: 90px;
  padding: 0px;
  grid-template-columns: repeat(4,12fr);
}

nav li {
  width: 250px;
  grid-column: span 1;
  padding: 0px;
}

#navboxleft {
padding: 0px;
margin: 0px;
width: 275px;
border: 2px solid black;
background-color: green;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

#navboxmid {
  padding: 0px;
  margin: 0px;
  width: 275px;
  border: 2px solid black;
  background-color: green;
}

#navboxright {
  padding: 0px;
  margin: 0px;
  width: 275px;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: green;
}

nav li a {
  display: block;
  border: 0px solid black;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
  font-size: 20px;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav li a:hover {
  background-color: lightgreen;
}

main {
  grid-column: span 12;
}

#htwo {
width: 90%;
margin-left: 60px;
border: 2px solid black;
border-radius: 20px;
}

h2 {
  background-color: blue;
  color: white;
  font-family: 'Bungee Inline', cursive;
  font-size: 18px;
  text-align: center;
}

#smallWrapper {
  margin: 24px auto;
  width: 1000px;
  border: 1px solid black;
  padding: 0px;
}

.carousel {
  margin-left: 200px;
  margin-right: 200px;
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

#myCarousel .carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 400px;

  background-color: #eee;
  border-radius: 6px;
}

#form {
  grid-column: span 12
}

footer {
  grid-column: span 12;
  width: 1250px;
  font-style: normal;
  font-weight: bold;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #a30404;
  color: white;
  border: 5px solid black;
  margin-left: 0px;
  padding: 5px;
}

.textshadow {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-shadow: 3.5px 3.5px 3.5px #8b8687; /* x, y, blur, color */
}
