h1 {
  color: white;
}

header {
  background-color: lightblue;
}

a {
  color: #00FF00;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}

h2 {
  color: blue;
}

.orange {
  color: orange;
}

h3 {
  background-color: yellow;
}

#redtext {
  color: red;
}

h4 {
  color: yellow;
  background-color: green;
}

#lightgreen {
  background-color: lightgreen;
}

h5 {
  color: red;
}

footer {
  background-color: yellow;
}
