html {
  background-image: url(e7bg.jpg);
}


#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  background-color: white;
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
    background: lightblue;
    color: black;
    border: 0px solid green;
    border-bottom: 5px solid black;
    margin: 0px;
    padding-left: 20px;
    grid-column: span 4;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

nav {
  grid-column: span 4;
  border: 0px solid blue;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

nav li {
  width: 200px;
  grid-column: span 1;
}

nav li a {
  display: block;
  background-color: green;
  border: 5px solid black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav li a:hover {
  background-color: lightgreen;
}

main {
  grid-column: span 3;
  margin-right: 10px;
  border: 0px solid purple;
}

h2 {
  font-family: sans-serif;
  border-bottom: 3px solid black;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

main img {
  border: 0px solid black;
  padding: 10px;
  float: right;
  margin-right: 16px;
  margin-bottom: 16px;
}

main a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  color: lightgreen;
  text-decoration: underline;
}

#lefttext {
  font-family: Georgia, sans-serif;
  text-align: justify;
  font-size: 14px;
  padding-left: 5px;
}
#righttext {
  font-family: Georgia, sans-serif;
  font-size: 12px;
  grid-column: span 1;
  float: right;
  margin-right: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  display: inline-block;
  text-align: justify;
}
#italic {
  font-style: italic;
}
#normal {
  font-style: normal;
}
footer {
  grid-column: span 4;
  font-style: normal;
  font-weight: bold;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: lightblue;
  color: black;
  border-top: 5px solid black;
  padding: 5px;
}
