body {
  font-family: sans-serif;
  background-image: url(images/catbye.jpg);
}

header {
  color: orange;
  background-color: darkblue;
  font-style: italic;
  font-weight: normal;
}

.smallheader {
  color: orange;
  background-color: darkblue;
  font-style: italic;
  font-weight: normal;
}

.boxmodel {
  border: 30px solid #000000;
  padding: 20px;
  background-color: #FFFFFF
}

.textcenter {
  text-align: center;
}

.textjustify {
  text-align: justify;
}

#blackandred {
  color: red;
  background-color: black;
}


footer {
  color: white;
  background-color: darkorange;
}

.lightbluepurple {
  color: purple;
  background-color: lightblue;
}

.lightgreenpurple {
  color: #802580;
  background-color: #10ff10;
}

h3 {
  color: pink;
  background-color: black;
}

h4 {
  color: yellow;
  background-color: gray;
}

#redpink {
  color: red;
  background-color: pink;
}

#pinkred {
  color: pink;
  background-color: red;
}

#orangeblack {
  color: orange;
  background-color: black;
}

.wow {
  color: yellow;
  font-weight: bold;
}

#yellowred {
  color: red;
  background-color: yellow;
}

#browngray {
  color: brown;
  background-color: gray;
}

a {
 color: #ff0000;
}

a:hover {
 color: #ffff00;
}

a:visited {
 color: #00ff00;
}
