body {
  background-color: black;
}

#wrapper {
  margin: 24px auto;
  width: 1250px;
  border: 1px solid black;
  padding: 0px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 12px;
  grid-template-rows: 300px; /* This is for the dummy columns, replace or delete */
}



.headerimg {
  border: 0px solid red;
  grid-column: span 10;
  width: 900px;
  height: 250px;
  margin-top: 20px;
  margin-left: 175px;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.headerimg:hover {
  background-image: url("images/headerHover.jpg");
  background-repeat: no-repeat;
}


nav {
  grid-column: span 10;
  border: 0px solid blue;
  margin-bottom: 5px;
}

nav ul {
  display: grid;
  list-style-type: none;
  margin-left: 90px;
  padding: 0px;
  grid-template-columns: repeat(4,12fr);
}

nav li {
  width: 250px;
  grid-column: span 1;
  padding: 0px;
}

#navboxleft {
padding: 0px;
margin: 0px;
width: 275px;
border: 2px solid black;
background-color: green;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

#navboxmid {
  padding: 0px;
  margin: 0px;
  width: 275px;
  border: 2px solid black;
  background-color: green;
}

#navboxright {
  padding: 0px;
  margin: 0px;
  width: 275px;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: green;
}

nav li a {
  display: block;
  border: 0px solid black;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
  font-size: 24px;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}

#navboxleft a:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: lightgreen;
}

#navboxmid a:hover {
  background-color: lightgreen;
}

#navboxright a:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: lightgreen;
}

main {
  grid-column: span 12;
}

#htwo {
width: 90%;
margin-left: 60px;
border: 2px solid black;
border-radius: 20px;
}

h2 {
  background-color: blue;
  color: white;
  font-family: 'Bungee Inline', cursive;
  font-size: 18px;
  text-align: center;
}

.collectiontitle {
  width: 80%;
  margin-left: 125px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #800399;
  color: white;
  text-align: center;
}

.collectionimage img {
  border: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;
}

.caption {
  float: right;
  margin-right: 150px;
  margin-top: 60px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia, sans-serif;
}

#dt {
  float: right;
  margin-right: 150px;
  margin-top: 60px;
  text-align: center;
  font-size: 18.5px;
  font-weight: bold;
  font-family: Georgia, sans-serif;
}


#homepagetext {
  font-size: 24px;
  text-align: center;
  font-family: Georgia, sans-serif;
  font-weight: bold;
}

#aboutmeportrait {
  grid-column: span 6;
  border: 3px solid black;
  margin-left: 100px;
  float: left;
}

#aboutmetext {
  border: 0px solid purple;
  margin-left: 550px;
  margin-right: 80px;
  font-size: 24px;
  font-family: Georgia, sans-serif;
}

#smallWrapper {
  margin: 24px auto;
  width: 1000px;
  border: 0px solid black;
  padding: 0px;
  font-family: Georgia, sans-serif;
}

#form {
  grid-column: span 12;
  margin-left: 140px;
}

footer {
  grid-column: span 12;
  width: 1195px;
  font-style: normal;
  font-weight: bold;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #a30404;
  color: white;
  border: 5px solid black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 0px;
  padding: 5px;
}

.textshadow {
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-shadow: 3.5px 3.5px 3.5px #8b8687; /* x, y, blur, color */
}
