html {
  background-image: url(a62.png);
}


#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  background-color: white;
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
    background: black;
    color: white;
    border: 0px solid green;
    margin: 10px;
    padding-left: 20px;
    grid-column: span 3;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

nav ul {
  list-style-type: none;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 0px;
  border: 0px solid blue;
}

nav li {
  border: 0px solid black;
  margin-right: 0px;
  padding: 5px;
  width: 275px;
  display: inline-block;
}

nav li a {
  background-color: red;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background-color: darkred;
}

main {
  grid-column: span 2;
  margin-right: 16px;
  border: 0px solid purple;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-top: 10px;
}

main img {
  border: 3px solid black;
  padding: 10px;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

main a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  color: blue;
  text-decoration: underline;
}

#georgiabold {
  font-family: Georgia, sans-serif;
  font-weight: bold;
  text-align: justify;
  font-size: 14px;
}

footer {
  grid-column: span 3;
  font-style: italic;
  font-family: Verdana, sans-serif;
  background-color: red;
  color: white;
  text-align: center;
  border-top: 5px solid black;
  padding: 5px;

}
